@import '../../variables';

.companies {
  padding: 5rem;
  background-color: $section-gray;

  .list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
  }
}
