@import "../variables";

header {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 8rem;
  z-index: 1000;
  background-color: #293241;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.4);

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
  }

  .logo {
    color: $light-text;
    font-weight: 500;
    font-size: min(10vw, 3.3rem);
    text-transform: capitalize;
  }

  .nav-list {
    display: flex;
    gap: 0.7rem;
  }

  a {
    color: $dark-text;
    text-transform: capitalize;
    font-size: 1.6rem;
    padding: 0.5rem;
  }

  .auth-nav {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .auth-success {
    display: flex;
    gap: 3rem;
    align-items: center;
    font-size: 1.6rem;
  }

  .user {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    p {
      color: $light-text;
    }
  }
  .heart {
    color: $error;
    margin-top: 0.5rem;
    font-size: 3rem;
  }

  .active {
    color: $light-text;
  }

  .close {
    display: none;
  }

  .menu {
    display: none;
  }
}

@media (max-width: 390px) {
  header {
    .logo {
      display: none;
    }
    .nav-list {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
      justify-content: center;
      transform: translateY(-100%);
      z-index: 30000;
      background-color: $background;
    }

    a {
      font-size: 2.3rem;
    }
   

    .user {
      p {
        display: none;
      }
    }
  }
}

@media (max-width: 992px) {
  header {
    .logo {
      display: none;
    }
    .nav-list {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
      justify-content: center;
      transform: translateY(-100%);
      z-index: 30000;
      background-color: $background;
      transition: transform 0.4s ease;
    }

    .nav-list.active {
      transform: translateY(0);
    }

    a {
      font-size: 2.3rem;
    }

    .signin {
      font-size: 1.6rem;
    }

    .user {
      p {
        display: none;
      }
    }

    .close {
      display: block;
      position: fixed;
      top: 5rem;
      right: 3rem;
      padding: 0.5rem;
      z-index: 50000;

      svg {
        font-size: 3.8rem;
        color: $light-text;
      }
    }
    .menu {
      display: block;
      padding: 0.5rem;

      svg {
        color: $light-text;
        font-size: 3.8rem;
      }
    }
  }
}
