$dark-text: #C1C7D1;
$light-text: #E5E7EB;
$main: #586B89;
$secondary:#384967;
$background:#1D293E;
$btn-text:#F5F5F5;
$error:#D98880;
$yellow:#f7dc6f;
$section-gray:#6c757d;


//gradinet



// shadows

$card-shadow:0px 4px 6px rgba(0, 0, 0, 0.3);